.product-form {
  width: 30rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid #fa5930;
  font: inherit;
  border-radius: 2px;
}

button {
  font: inherit;
  border: 1px solid rgb(253, 131, 16);
  background: white;
  border-radius: 3px;
  cursor: pointer;
  color: black;
}

button:hover,
button:active {
  background-color: rgb(197, 105, 0);
  color: white;
}
